@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Smooch+Sans&display=swap');
.landing-page {
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    font-style: bold;
    padding-top: 17%;
    padding-bottom: 20%;
    background-repeat: no-repeat;
    color: white;
}
.about {
    text-align: center;
    font-family: 'Hubballi', cursive;
}
.services {
    text-align: center;
    font-size: 15px;
    font-family: 'Hubballi', cursive;
    background-image: url(assets/backgrounds/s_image.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 10%;
    padding-bottom: 5%;
}
.container h1 {
    text-align: center;
    font-family: 'Hubballi', cursive;
}
.design {
    text-align: center;
    font-family: 'Hubballi', cursive;
    font-size: 17px;
    padding-top: 10%;
}
#design {
    display: none;
}
.development {
    text-align: center;
    font-family: 'Hubballi', cursive;
    font-size: 17px;
    padding-top: 10%;
}
#dev {
    display: none;
}
.product {
    text-align: center;
    font-family: 'Hubballi', cursive;
    font-size: 17px;
    padding-top: 10%;
}
#prod {
    display: none;
}
.portfolio {
    text-align: center;
    font-family: 'Hubballi', cursive;
}
#projects {
    text-align: center;
    font-family: 'Hubballi', cursive;
}
.row {
    text-align: center;
}
#hover1,#hover2,#hover3,#hover4,#hover5,#hover6,#hover7,#hover8{
  display: none;
  position: absolute;
  background-color:rgba(255, 255, 255, .5);
  text-align: center;
  font-family: 'Hubballi', cursive;
}
.form {
    background-image: url(assets/backgrounds/c_image.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Hubballi', cursive;
    padding-top: 5%;
    padding-bottom: 10%;
    color: aliceblue;
}
.form-control {
    position: center;
    background: transparent;
    font-family: 'Hubballi', cursive;
}
#contact ::placeholder {
    color: white;
}
#row {
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.form-group {
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
}
footer {
    text-align: center;
    font-family: 'Hubballi', cursive;
    padding-top: 5%;
}
footer p {
    padding-top: 2%;
}
#mouse-click{
  padding-top : 30px;
  margin-top: 10%;
  padding-bottom: 30px; 
  animation: bounce 2s infinite;
}

@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
   40% {transform: translateY(-30px);} 
   60% {transform: translateY(-15px);} 
} 