@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Smooch+Sans&display=swap');
.landing-page {
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    font-style: bold;
    padding-top: 17%;
    padding-bottom: 20%;
    background-repeat: no-repeat;
    color: white;
}
.about {
    text-align: center;
    font-family: 'Hubballi', cursive;
}

